<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>affichage Client</title>
</head>
<body>
<table border="1">
  <th>NOM</th>
  <th>PRENOM</th>
  <th>ID</th>
    <tr>
    <td th:text="${monClient.nom}"/>
    <td th:text="${monClient.prenom}"/>
    <td th:text="${monClient.idclient}"/>
    </tr>
</table>
<h2>commandes</h2>
<table border="1">
    <th>NUM COMMANDE</th>
    <th>NUM FACTURE</th>
    <th>DATE COMMANDE</th>
    <th>ETAT</th>
    <th>MONTANT</th>
    <!--<tr th:each="comfact : ${moncli.facturesNonPayees()}">-->
    <tr th:each="comfact : ${moncli.comfacts}">
        <td th:text="${comfact.idcommande}"/>
        <td th:text="${comfact.numfact}"/>
        <td th:text="${comfact.datecommande}"/>
        <td th:text="${comfact.etat}"/>
        <td th:text="${comfact.montant}"/>
    </tr>
</table>
</body>
</html>